:root {
    --primary-color:#3ccbed;
    --accent: #FFFFFF;
    --background-color: #000F1C;

    --default-font-size: 14pt;
    --small-font-size: 11pt;
    --equation-font-size: 16pt;
}

@font-face {
	font-family: 'formaDJR';
	src: url(/fonts/forma-djr-mono-regular.otf);
	font-weight: normal;
}
@font-face {
	font-family: 'formaDJR';
	src: url(/fonts/forma-djr-mono-bold.otf);
	font-weight: bold;
}
@font-face {
	font-family: 'math';
	src: url(/fonts/lmmath-regular.otf);
	font-weight: normal;
}

body {
	background: var(--background-color);
	color: var(--primary-color);
	font-family: 'formaDJR';
	text-align: center;
	/* filter: contrast(1.2) brightness(1.1) saturate(1.3); */
	position: relative;
	margin: 0;
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

h1 {
	font-size: 48px;
	color: var(--primary-color);
	/* text-shadow: 0 0 10px purple; */
}

h2 {
    text-align: left;
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 8px;
    /* margin-left: 2%; */
}

h3 {
    text-align: left;
    margin: 0px;
    /* margin-left: 6%; */
    
}

p {
    font-size: var(--default-font-size);
    text-align: left;
    line-height: 1.em;

    margin: 0.6em 0em;
}

br {
    line-height: 150%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-size: small;
    text-shadow: -1px -1px 0 var(--background-color), 1px -1px 0 var(--background-color),
                 -1px 1px 0 var(--background-color), 1px 1px 0 var(--background-color)
}

button {
    all: unset;
}
.default-button {
    color: var(--background-color);
    background-color: var(--primary-color);

    padding: 5px;

    border: 3px, solid, var(--primary-color);

    transition: color 0.1s, background-color 0.1s;

    cursor: pointer;
}
.default-button:active {
    color: var(--primary-color);
    background-color: var(--background-color);
}

a {
  all: unset;
  color: var(--accent-color);
  cursor: pointer;
}

a:active {
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color);
}

ul, ol {
    font-size: var(--default-font-size);
    line-height: 1.4em;

    text-align: left;
    margin: 0.6em 0em;
}

sub {
    position: relative;
    right: 1px;
    letter-spacing: 0px;
}

.annotated-text {
    color: var(--accent-color);
    cursor: help;
}

.accent-text {
    color: var(--accent-color);
}

#reference-list {
    margin-top: 64px;
}

.end-reference {
    font-size: var(--small-font-size);
}

.reference {
    cursor: pointer;
}

.math, .equation, .ket, .bra {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;

    letter-spacing: 1px;
}

.equation>.math:not(.equation-number) {
    font-size: var(--equation-font-size);
    flex: 1;
    text-align: center;
}

.equation {
    display: flex;

    align-items: center;
    justify-content: center;

    margin: 32px 0px;
}

.multiline-equation {
    flex: 1;
    align-self: center;
}

.multiline-equation>* {
    font-size: var(--equation-font-size);
    flex: 1;
    text-align: center;
}

.equation-number {
    justify-self: right;
    margin-left: auto;
}

.no-italic {
   font-style: normal;
}

.sqrt {
    border-top: thin solid var(--primary-color);
    padding-top: 0.0em;
}


.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding-top: 0.1em;
}
.frac span.denom {
    border-top: thin solid var(--primary-color);
    padding-top: 0.1em;
}
.frac span.symbol {
    display: none;
}

.sum {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;

    margin-left: 4px;
}

.sum>span {
    display: block;
    
}

.sum-limit {
    transform:translateY(8px);
}
.sum-init {
    transform:translateY(-8px);
}

.sum-sigma {
    font-size: xx-large;
    font-style: normal;
}

sub, .small-text {
    font-size: var(--small-font-size);
    color: var(--primary-color);
}

.flex-container {
    display: flex;

    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .flex-container {
        flex-direction: column
    }
}

#dither-container {
    margin: auto;
    min-width: 60%;
}

.grid-header {
    grid-column: 1/3;
    margin: auto;
    margin-bottom: 6px;
    padding: 2px 4px;
    
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-color);
}

form {
    padding: 6px;
    height: fit-content;
    max-width: 385px;

    border: var(--primary-color);
    border-width: 2px;
    border-style: solid;

    display: grid;
    grid-template-columns: 40% 60%;

    margin: 8px;

    /* background-color: var(--primary-color); */
}

form * {
    text-align: left;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

form p {
    margin: 0px 5px;
}

.form-row {
    justify-content: left;
    align-items: center;
}

.form-row.last-row {
    border-bottom-width: 0px;
}

input[type=file] {
    font-family: 'formaDJR';
    color: var(--primary-color);

    width: 100%;
}

input[type=file]::file-selector-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    font-family: 'formaDJR';

    cursor: pointer;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox {
  display: flex;
  height: 10px;
  width: 10px;
  cursor: pointer;

  border-width: 2px;
  border-style: solid;
  border-color: var(--primary-color);
}

.custom-checkbox.active {
  background-color: var(--primary-color);
}

.custom-checkbox-highlight {
    background-color: transparent;
    position: absolute;
    width: 8px;
    height: 8px;
    cursor: pointer;

    
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
}

.custom-checkbox-highlight:hover {
    background-color: var(--primary-color);
}

.custom-checkbox-highlight.active:hover {
    border-width: 1px;
    border-color: var(--background-color);
}

.slider {
    width: 100%;
    height: 10px;

    -webkit-appearance: none;
    appearance: none;
    outline-color: var(--primary-color);
    outline-width: 2px;
    outline-style: solid;

    background-color: transparent;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 10px;
    /* margin-left: 2px; */
    background: var(--primary-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider-chaser {
    background-color: var(--primary-color);
    position: absolute;
    width: 0px;
    height: 8px;
    margin-left: 3px;
    cursor: pointer;

    
    border-width: 0px;
    border-style: solid;
    border-color: transparent;

    pointer-events: none;
    z-index: -1;
}

input.two-tone-select {
    border: 0px;
    outline: none;
    background-color: transparent;
    padding: 0px;

    width: 18px;
    height: 22px;

    margin: -2px 0px;
    margin-left: -2px;
}

#palette-dropdown {
    color: var(--primary-color);
    font-family: 'formadjr';
    background-color: var(--background-color);
    border-width: 2px;
    border-color: var(--primary-color);
    height: 20px;
}

.outline-text {
    text-shadow: -1.5px -1.5px 0 var(--background-color), 1.5px -1.5px 0 var(--background-color),
                 -1.5px 1.5px 0 var(--background-color), 1.5px 1.5px 0 var(--background-color)
}

/* Nav Bar */
#top-nav {
	background-color: var(--primary-color);
    color: var(--background-color);
	width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0;

    position: sticky;
    top: 0;

    z-index: 6;
}

.left {
    display: flex;
    float: left;
    width: 22%;
    text-align: left;
}


.center {
    display: flex;
    justify-content: center;
    float: left;
    width: 76%;
}

.right {
    display: flex;
    float: left;
    width: 22%;
}

/* Optional top-nav space filler to ensure correct rendering order of dropdown elements */
.top-option-filler {
    background-color: var(--primary-color);
    width: 100%;
}

.top-option.top-option-toggle.top-option-toggle-on {
    color: var(--primary-color);
    background-color: var(--background-color);
}

.top-option.top-option-toggle {
    color: var(--background-color);
    background-color: var(--primary-color);

    padding: 9px 17px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--primary-color);
}

.top-option {
    padding: 12px 20px;
    background-color: var(--primary-color);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.top-option.active {
    color: var(--primary-color);
    background-color: var(--background-color);
}

@keyframes topOptionAnim {
    0%, 49.999% {
        background-color: var(--background-color);
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    50%, 100% {
        background-color: var(--primary-color);
        border-color: var(--background-color);
        color: var(--background-color);
    }
}

.top-option:hover:not(.active)  {
    animation: topOptionAnim 1s infinite;

    padding: 9px 17px;
    border-style: solid;
    border-width: 3px;
}

a.top-option:link, a.top-option:visited.top-option:not(.active) {
    color: var(--background-color);
}

/* Nav Bar Theme Menu */
#theme-menu-container {
    position: absolute;
    display: flex;

    align-items: center;

    transform: translateY(-105%);
    z-index: -1;

    transition: transform 0.3s ease-out;
}

#theme-form {
    color: var(--primary-color);
    background-color: var(--background-color);
    font-size: 0.9em;
    position:relative;
    margin: 0%;

    display: grid;
    grid-template-columns: auto auto;

    max-width: fit-content;
    max-height: fit-content;
}

input.theme-color-select {
    border: 0px;
    outline: none;
    background-color: transparent;
    padding: 0px;

    width: 18px;
    height: 22px;

    display: flex;

    align-self: center;
    margin-right: 6px;
}

/* Navbar dropdowns */

.dropdown {
    position: absolute;
    /* display; */

    margin: 0;

    text-align: center;
    align-items: center;

    left: 50%;
    transform: translate(-50%, -105%);
    z-index: -1;

    width: 120%;
    padding: 0px 3px;

    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: var(--primary-color);

    transition: transform 0.2s ease-out;

    background-color: var(--background-color);
}

.relative-wrapper {
    position: relative;
}

a.dropdown-option {
    display: block;

    text-decoration: none;
    color: var(--primary-color);

    cursor: pointer;

    padding: 6px 3px;
}

.dropdown-option:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

#quantum-nav {
    display: flexbox;
    list-style-type: none;
    padding: 0;

    /* white-space: nowrap; */
}

/* Bottom nav */

.bottom-nav {
    display: flex;
    margin-top: 32px;

    width: 85%;

    align-self: center;
}

.bottom-nav-previous {
    left: 0px;
}

.bottom-nav-next {
    margin-left: auto;

    text-align: right;
    right: 0px;
}

.bottom-nav-next .accent-text, .bottom-nav-next .small-text {
    text-align: right;
}

.bottom-nav-previous, .bottom-nav-next {
    display: flexbox;

    cursor: pointer;
}

/* Backdrop svgs */
@media screen and (max-width: 1200px) {
    .sidebar-backdrop-container {
        visibility: hidden; 
    }
}

@media screen and (max-width: 1450px) {
    .sidebar-canvas {
        visibility: hidden; 
    }
}

#page-content {
    height: auto;
    min-height: 100%;
    max-width: 55%;

    margin:auto;
    /* margin-top: 43px; Top margin equal to navbar height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;

    padding-bottom: 5rem;
}

@media screen and (max-width: 1200px) {
    #page-content {

        max-width: 95%;
    }
}

.sidebar {
    display: block;
    height: 100%;
}

/* Article header */
#article-header {
    display: flex;

    align-items: center;
    border: 0px;
}

#article-header>p {
    font-size: var(--small-font-size);

    margin: 0px;
}

#cite-ui {
    margin-left: auto;
}

#button-cite-me {
    position: relative;
    margin-left: auto;
    font-size: var(--small-font-size);

    color: var(--background-color);
    background-color: var(--primary-color);
    border: 3px, solid, var(--primary-color);

    padding: 1px 4px;

    z-index: 4;
}

#button-cite-me.active {
    color: var(--primary-color);
    background-color: var(--background-color);

    border-bottom-color: var(--background-color);

    z-index: 4;
}

#button-cite-me.active::before {
    content: "";
  position: absolute;
  top: 20px;      /* match border thickness */
  left: 69px;
  width: 3px;    /* size of the corner cut */
  height: 3px;
  background: var(--primary-color);  /* same as page background */
}

#cite-options {
    display: none;
    position: absolute;

    transform: translateY(-3px);

    background-color: var(--background-color);

    padding: 3px;
    margin: 0px;

    border: 3px, solid, var(--primary-color);

    right: 0px;

    z-index: 2;

    white-space: nowrap;

    
    grid-template-columns: auto auto;
    max-width: fit-content;
    max-height: fit-content;
}

#cite-options.active {
    display: grid;
}

#cite-options * {
    margin: 0px;

    cursor: pointer;
}

#cite-options>button {
    text-align: left;
}

/* For index.html */
#index-backdrop {
    position: fixed;
	
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    
    height: 100%;
    width: 100%;

    z-index: -8;

    fill: var(--primary-color);
}

.cosmic-cluster {
    height: 33.34%;
    position: relative;
}

/* For quantum-computing.html */
#qc-backdrop {
    display: flex;
    flex-wrap: wrap;
    
    min-width: 145%;
    margin-top: -125px;
    margin-left: -100px;

    padding: 0%;

    position: fixed;
    transform: rotate(-8deg);

    order: 10;
    z-index: -8;
}

.cnot-svg {
    margin: 12px 4px;
    stroke: var(--primary-color);
    fill: var(--background-color);
}

#cnot-target {
    fill: var(--primary-color)
}

/* Plain page overlay */
#plain-page {
    height: 100%;
    width: 65%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -4;

    fill: var(--background-color);
}

/* For dithering.html */
#dither-backdrop {
    position: fixed;
	
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    
    height: 100%;
    width: 100%;

    z-index: -8;

    fill: var(--primary-color);
}

.sidebar-canvas {
    height: 2160px;
    width: 325px;
}

#right-dither-canvas {
    float: right;
}

/* For about.html */
#about-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;

    /* z-index: -8; */
}

.triangle {
    fill: var(--primary-color);
    position: fixed;
    /* transform-origin: 400px 345px; */
    transform-origin: 400px 450px;
}

.list-attribution {
    list-style: none;
    text-align: left;
}

/* Demo side by sides */
.demo-container {
    align-items: start;
}

.demo-container>div {
    margin: 20px 12px;
}

.demo-container>div>p {
    text-align: center;
}

.demo-container>div>canvas {
    outline-color: var(--primary-color);
    outline-width: 3px;
    outline-style: solid;
}

/* QCirc CSS */
/* #qcirc-palette-container {
    
} */

#qcirc-palette-list {
    list-style-type: none;
    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

#qcirc-selected-tool {
    background-color: white;

    width: 100%;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.qcirc-palette-button {
    background-color: white;

    width: 100%;
    height: 100%;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.qcirc-palette-button * {
    margin: 0px;
}

#qcirc-editor-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 20px 20px 20px;
    max-width: max-content;
    max-height: min-content;

    background-color: white;

    transform-origin: top left;
    transform: scale(4);

    color: black;
}

#qcirc-editor-container * {
    display: flex;
    justify-content: left;
    align-items: center;
}

#qcirc-editor-cell {
    padding: 10px;
}

/* #qcirc-editor-cell * {
    justify-content: center;
    align-items: center;
} */

.overflow-svg {
    overflow: visible;
    z-index: 1;
}

/* LaTeX.js styling */
.katex {
    display: flex;
    justify-content: center;
}

/* Hide screen reader portion */
.katex-mathml annotation {
    display: none !important;
}

.katex-html { 
    display: none !important; 
}
